In [1]:
#importing the required libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 
import sklearn
from sklearn.model_selection import train_test_split

In [2]:
#The dataset was read
data=pd.read_csv("biodiesel yield.txt",sep='\t', header=None, names=["Temperature [째C]","Pressure [Mpa]","Reaction Time [min]","Methanol/Oil","Experimented Yield [-]"])

In [3]:
data

,Temperature [째C],Pressure [Mpa],Reaction Time [min],Methanol/Oil,Experimented Yield [-]
0,270,20,3,40,0.0909
1,270,20,5,40,0.1985
2,270,20,10,40,0.4127
3,270,20,15,40,0.5885
4,270,20,20,40,0.7424
5,270,20,25,40,0.8289
6,270,20,30,40,0.9250
7,300,20,3,40,0.2337
8,300,20,5,40,0.4291
9,300,20,10,40,0.8235
10,300,20,15,40,1.0000
11,300,20,20,40,1.0000
12,300,20,25,40,1.0000
13,300,20,30,40,1.0000
14,350,20,3,40,0.6833
15,350,20,5,40,0.8839
16,350,20,10,40,1.0000
17,350,20,15,40,0.9712
18,350,20,20,40,1.0000
19,350,20,25,40,1.0000
20,350,20,30,40,0.9749
21,400,20,3,40,1.0000
22,400,20,5,40,1.0000
23,400,20,10,40,1.0000
24,400,20,15,40,1.0000
25,400,20,20,40,1.0000
26,400,20,25,40,1.0000
27,400,20,30,40,1.0000
28,325,10,3,20,0.0541
29,325,10,5,20,0.1036
30,325,10,10,20,0.2409
31,325,10,15,20,0.4105
32,325,10,20,20,0.5009
33,325,10,25,20,0.6108
34,325,10,30,20,0.7409
35,325,20,3,20,0.1030
36,325,20,5,20,0.2514
37,325,20,10,20,0.3710
38,325,20,15,20,0.4992
39,325,20,20,20,0.6015
40,325,20,25,20,0.7311
41,325,20,30,20,0.7915

In [4]:
data.shape

(42, 5)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Temperature [째C]        42 non-null     int64
 1   Pressure [Mpa]          42 non-null     int64
 2   Reaction Time [min]     42 non-null     int64
 3   Methanol/Oil            42 non-null     int64
 4   Experimented Yield [-]  42 non-null     float64
dtypes: float64(1), int64(4)
memory usage: 1.8 KB

In [6]:
y=data["Experimented Yield [-]"]
X=data.drop("Experimented Yield [-]",axis=1)
#the features and the target variable were defined

In [7]:
#the dataset was split in a 75 to 25 percent ratio with 75 being the training set and 25 being the testing set
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25,random_state=0)

In [8]:
from sklearn.svm import SVR
#svr model for regression was imported from svm

In [9]:
svr_model=SVR()
#the model was called

In [10]:
svr_model.fit(X_train,y_train)
#the model was then fit into the training set

SVR()

In [11]:
y_predict=svr_model.predict(X_test)
y_predict
#predictions were carried out

array([0.662449  , 0.65122787, 1.03066806, 0.55310562, 0.63990248,
       1.00179961, 0.63912451, 0.65695021, 0.66794065, 0.67918694,
       0.64577108])

In [12]:
from sklearn.metrics import r2_score
print("r2 score:",r2_score(y_test,y_predict))
#r2 score was imported and used to check the model's strength

r2 score: 0.07121920806509185

In [13]:
from sklearn.metrics import mean_squared_error
MSE=mean_squared_error(y_test,y_predict)
print("MSE:",MSE)
#mean_squared_error was also imported and used to check the model's strength

MSE: 0.12893317943902916

In [14]:
from sklearn.ensemble import RandomForestRegressor
#Random Forest Regressor was imported and used to fit the data

In [15]:
rf_model=RandomForestRegressor()

In [16]:
rf_model.fit(X_train,y_train)

RandomForestRegressor()

In [17]:
y_pred=rf_model.predict(X_test)
y_pred
#predictions were carried out

array([0.5322  , 0.339152, 0.987701, 0.595029, 0.688979, 0.99856 ,
       0.159255, 0.739447, 0.555968, 0.513429, 0.337858])

In [18]:
print("r2 score:",r2_score(y_test,y_pred))
#r2 score was imported and used to check the model's strength

r2 score: 0.7447367936966567

In [19]:
MSE=mean_squared_error(y_test,y_pred)
print("MSE:",MSE)
#mean_squared_error was also imported and used to check the model's strength

MSE: 0.03543559154999995

It can be seen that the random forest model performed better than the SVM because the mean squared error of the former is smaller than the latter and the smaller the MSE, the better the model.
         Although the svm model still did a pretty good job.